<!-- Footer -->
<footer class="bg-dark footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 my-4">
                    <img src="/build/images/COQ.59f2a8ff.jpg" title="" alt="coq-francais" style="width: 100px">
                </div>
                <div class="col-6 col-lg-2 my-4">
                    <h5 class="text-white mb-3">Useful</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">Apps Store</a>
                        </li>
                        <li>
                            <a href="#">Google Store</a>
                        </li>
                        <li>
                            <a href="#">Latest News</a>
                        </li>
                        <li>
                            <a href="#">Our Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 my-4">
                    <h5 class="text-white mb-3">Useful</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">Apps Store</a>
                        </li>
                        <li>
                            <a href="#">Google Store</a>
                        </li>
                        <li>
                            <a href="#">Latest News</a>
                        </li>
                        <li>
                            <a href="#">Our Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 my-4">
                    <h5 class="text-white mb-3">
                        Stay up to date
                    </h5>
                    <form>
                        <div class="d-flex flex-column flex-md-row mb-2">
                            <input type="email" class="form-control me-md-2 mb-2 mb-md-0" placeholder="Enter your username">
                            <button class="btn btn-primary flex-shrink-0" type="submit">Get Started</button>
                        </div>
                        <p class="text-white-50 m-0">New UI kits or big discounts. Never spam.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom border-style top light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-3">
                    <div class="nav justify-content-center justify-content-md-start">
                        <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 my-3 text-center text-md-end">
                    <p class="m-0 text-white-50">© 2020 copyright all right reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
