<!-- Footer -->
<footer class="bg-primary footer footer-to-bottom">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="div col-4 col-md-2 m-md-0 my-auto">
                    <img src="{{ asset('build/images/mascotte-resp.png') }}" alt="mascotte" class="img-fluid img-footer" />
                </div>
                <div class="col-5  col-md-7 my-sm-4 d-md-flex mx-md-auto flex-md-row justify-content-md-center">
                    <ul class="list-unstyled white-link footer-links d-md-flex">
                        <li>
                            <a href="#">À propos</a>
                        </li>
                        <li class="mx-md-5">
                            <a href="#">La communauté</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-md-3 my-auto d-md-flex justify-content-md-center">
                    <div class="nav align-items-center flex-column fs-6 d-md-inline">
                        <a class="icon icon-sm icon-primary rounded-circle me-2 svg-size" href="#">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a class="icon icon-sm icon-primary rounded-circle me-2 my-2 svg-size" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="icon icon-sm icon-primary rounded-circle me-2 svg-size" href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
