{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome on your project 3</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo dolor vel odio cursus, et lacinia odio interdum. Cras pretium, velit vitae porta euismod, lorem neque scelerisque libero, non egestas nisi ligula vitae ligula. Praesent vel scelerisque arcu. Aliquam mattis arcu ut urna gravida pellentesque. In molestie libero in dictum fringilla. Sed non turpis quis risus malesuada tristique sit amet nec diam. Mauris neque est, mollis in sem convallis, viverra auctor ipsum. Donec efficitur justo quis rhoncus ullamcorper. Duis sed libero ut risus hendrerit porttitor sed eget purus. Maecenas dui nisl, tincidunt ac justo quis, accumsan sollicitudin dui. Morbi in rutrum felis.

        Curabitur diam sapien, lobortis nec interdum vitae, semper sit amet orci. Ut sit amet auctor libero. In gravida ex sed metus luctus sagittis sit amet eget sem. In eget sapien interdum, venenatis elit tincidunt, dictum leo. Sed commodo id justo vitae laoreet. Donec vehicula mollis ultricies. Praesent arcu sapien, tincidunt lacinia lorem in, sagittis molestie dui. Fusce risus eros, tincidunt vitae risus malesuada, vestibulum efficitur metus. Praesent vel sodales nibh. Maecenas sodales aliquam orci nec faucibus.

        Etiam dolor nunc, faucibus sed pulvinar quis, tempus sed orci. Integer hendrerit nunc eget magna consectetur, et tempor nulla mollis. Integer eget malesuada enim. Nulla imperdiet leo euismod elit vestibulum, ut consectetur urna interdum. Nunc egestas leo tortor, non eleifend dolor tempor a. Sed aliquam eleifend nibh ac malesuada. Duis varius cursus turpis egestas pharetra. Donec leo magna, placerat nec dolor eget, fringilla pellentesque mauris. Duis non vehicula risus, a consequat lectus.

        Duis pharetra venenatis tincidunt. Curabitur at nisl sem. Fusce sollicitudin, dolor ut euismod molestie, nibh odio consequat ligula, at interdum ex est ac ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse enim augue, congue vitae pellentesque eget, malesuada sed ante. Proin a consequat magna. Aenean consectetur lobortis placerat. Suspendisse quis commodo nisl.

        Curabitur et nibh eu diam eleifend consequat at eget purus. Maecenas dui eros, dignissim in porttitor quis, varius id magna. Phasellus vel sapien eget mauris blandit varius a quis nibh. Quisque hendrerit tempus nisl, vitae tempor mauris finibus iaculis. Cras nec eleifend dui. Duis ac ligula justo. Nunc condimentum commodo diam, at aliquet nisl varius quis. Ut sed felis fringilla, porta purus vitae, sollicitudin velit. Pellentesque dapibus varius mi eget viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a felis in nisl finibus ultricies. Donec tempor lacus ut odio tincidunt dictum.</p>

{% endblock %}
