<div class="grid mt-3">
    {% for annonce in annonces %}
        {% include '/annonce/_annonceMin.html.twig' with {annonce: annonce} only %}
    {% else %}
        No records found
    {% endfor %}
</div>
