<form method="post" action="{{ path('annonce_delete', {'slug': annonce.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.slug) }}">
    <button class="btn btn-danger">Delete</button>
</form>
