<form method="GET" action="{{ path("filter") }}">
    <div class="filter-container">
    <div class="filter-label-container position-relative m-auto mt-4">
        <input name="search" id="search" type="text" class="col-4 form-control rounded-pill" />
        <label for="search" class="label-text">Recherche avancée</label>
    </div>
    <div class="filter-label-container position-relative m-auto mt-4">
        <input name="dateSearch" id="date-search" type="date" class="col-4 form-control rounded-pill" />
        <label for="date-search" class="date-label label-text">Trier par date du vol</label>
    </div>
    <div class="filter-label-container position-relative m-auto mt-4">
        <input name="placeSearch" id="place-search" type="text" class="col-4 form-control rounded-pill" />
        <label for="place-search" class="label-text">Trier par lieu du vol</label>
    </div>
        <button class="btn btn-action p-2 btn m-3 col-2 rounded-pill" type="submit">
            Rechercher
        </button>
    </div>
</form>
