{% extends 'layout/sidebar-left-only.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block main %}

    <!-- ### Menu Links ### -->

    <nav class="row d-flex">
        <ul class="nav nav-tabs nav-tab-main menu-link-dashboard justify-content-center" id="nav-tab links-list" role="tablist">
            <li><a class="nav-link nounderlined" id="nav-annonces-tab" data-bs-toggle="tab" data-bs-target="#nav-annonces" type="button" role="tab" aria-controls="nav-annonces" aria-selected="false">Annonces en attente</a></li>
            <li><a  class="nav-link nounderlined" id="nav-signalements-tab" data-bs-toggle="tab" data-bs-target="#nav-signalements" type="button" role="tab" aria-controls="nav-signalements" aria-selected="false">Les signalements</a></li>
            <li><a class="nav-link nounderlined" id="nav-favoris-tab" data-bs-toggle="tab" data-bs-target="#nav-favoris" type="button" role="tab" aria-controls="nav-favoris" aria-selected="false">Les Catégories</a></li>
            <li><a class="nav-link active nounderlined" id="nav-profil-tab" data-bs-toggle="tab" data-bs-target="#nav-profil" type="button" role="tab" aria-controls="nav-profil" aria-selected="true">Les utilisateurs</a></li>
        </ul>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-annonces" role="tabpanel" aria-labelledby="nav-annonces-tab">{{ render(path('admin_annonces'))}}</div>
        <div class="tab-pane fade" id="nav-signalements" role="tabpanel" aria-labelledby="nav-signalements-tab">{{ render(path('admin_signalements')) }}</div>
        <div class="tab-pane fade" id="nav-favoris" role="tabpanel" aria-labelledby="nav-favoris-tab">{{ render(path('admin_categories')) }}</div>
        <div class="tab-pane fade active show" id="nav-profil" role="tabpanel" aria-labelledby="nav-profil-tab" aria-selected="true">{{ render(path('admin_users')) }}</div>
    </div>
{% endblock %}
