{% extends 'layout/sidebar-left-only.html.twig' %}

{% block main %}
<section class="row-cols-auto mt-5">
    {% if app.user == annonce.owner %}
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            Vous êtes sur le point de déposer un signalement pour une annonce dont vous êtes l'auteur.
        </div>
    {% endif %}
</section>
<section class="row mb-5">
    <div class="col-md-6">
        {% include '/annonce/_annonceMin.html.twig' %}
    </div>
    <div class="col-md-6">
        {{ include('layout/_map.html.twig') }}
    </div>
</section>
<section class="row mb-5">
            {% include 'signalement/_form-signalement.html.twig' with {edit: true, button_label: 'Enregistrer'} %}

        <script>

        </script>
    </div>
</section>
{% endblock %}
