.admin-button{
  width: 100% !important;
}
.admin-button-signalement{
  width: 40% !important;
}
.modal-dialog{
  max-width: 750px !important;
}

.admin-table{
  border-collapse: collapse;
}
.admin-table th, .admin-table td{
  text-align: center;
  border-bottom: 1px solid black;
  padding : 0.5rem;
}
