@import 'settings/variables';

.container-info{
  position: relative;
  font-size: 1rem;
  top: 5px;
}
.ligne-title{
  width: 80%;
  border: 1px solid $black;
}
.card-body .body-custom {
   display: flex;
   flex-direction: column;
}
.card-img-top{
  height: 20vh;
}
.card-align{
  max-width: 350px;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 3px 5px 9px 0px grey;
  border-radius: 0 0 20px 20px;
}
.custom-header{
  border-bottom: none;
  color: $white;
  background-color: #eeeeee;
  text-align: center;
  }

.reference{
  color: $black;
  font-size: .8rem;
  font-weight: 600;
}
.btn-circle {
  transition: 0.3s;
  transform: translateY(20px);
}
.text-shadow-custom{
  text-shadow: #FC0 1px 0 10px;
  &:hover{
    color: #FC0;
  }
}
.text-center a{
  text-decoration: none;
}
.bookmark-position{
  color: rgba(222, 209, 209, 0.59);
  font-size: 3em;
  top: 1px;
  right: 1px;
  z-index: 3;
  transition: 0.3s;
}

.bookmark-position-yellow{
  color: $action;
}
.network-icon-card{
  position: absolute;
  margin-top: -20vh;
  color: rgba(222, 209, 209, 0.59);
  font-size: 1rem;
  margin-left: 5px;
  z-index: 3;
  &:hover{
    color: $action;
  }
}

.btn-signalement{
  position: relative;
  z-index: 5;
}

.bookmarkPin{
  border: none;
  background: none;
}
