
.upload-form{
  margin: auto;
  width: 100%;
}
.edit-annonce{
  display: flex;
}
.map-img{
  width: 100%;
}

@media (max-width: 900px) {
  .image-form-new-annonce {
    display: none;
  }
}

.annonces-header{
 display: flex;
  @media (max-width: 900px) {
    display: block;
    justify-content: center;
    text-align: center;
    }
}

.btn-annonces-header{
  width: 80%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 30px;
  place-items: center;
  justify-content: center;
}

.filter{
  display: block;
  position: sticky;
  top: 80px;
}

@media screen and (max-width: 768px)  {
  .left-sidebar{
    display:none
  }
  .main-container{
    margin-left: 0;
  }
}
