.carousel-home-page center{
  padding: 1em;
  justify-content: center;
}
.carousel-image {
  height: 100%;
}
.carousel-image-container {
  padding: 2em;
}

.slick-arrow{
  background-color: grey;
  height: 20px;
  &:hover{
    background-color: $action;
  }
}
