.carousel-home-page center{
  margin: auto;
  padding: 1em;
}
.carousel-image {
  height: 100%;
}
.carousel-image-container {
  height: 200px;
  margin: auto;
  padding: 1em;
}

.section-carousel{
  height: 300px;
}

.slick-arrow{
  background-color: $blue;
  height: 20px;
}
