@import 'settings/variables';

.img-header{
  width: 45%;
}
.nav-link{
  white-space: nowrap;
}
@media (min-width: 1024px){
  nav .nav-title{
    font-size: 1.6rem;
  }
  nav .img-header{
    width: 70%;
  }
  nav a{
    font-size: 1.6rem;
  }
  @media (min-width: 1199px){
    nav .img-header{
      width: 45%;
    }
    nav a{
      font-size: 1.1rem;
    }
  }
}

