<div class="list-group border-0">
    {% for signalement in signalements %}
    <a href="{{ path('signalement_edit', {'slug': signalement.annonce.slug, 'id': signalement.id}) }}" class="list-group-item list-group-item-action border-0">
        {{ signalement.annonce.title }}
    </a>
    {% else %}
    <div class="list-group-item border-0">Vous n'avez aucun signalement référencé sur votre compte.</div>
    {% endfor %}
</div>
