<div class="container">
    <div class="section ">
        <h1 class="h1 text-center">Mes favoris</h1>
        <div class="grid">
            {% for annonce in annonces %}
                {% include '/annonce/_annonceMin.html.twig' %}
            {% else %}
                No records found
            {% endfor %}
        </div>
        </div>
    </div>
