{% extends 'base.html.twig' %}

	{% block body %}
		<!-- #Left Sidebar ==================== -->
		<div class="left-sidebar col-md-2" id="left-sidebar">

		</div>

		<div class="main-container">
			{% block main %}{% endblock %}
		</div>

	{% endblock %}
